*{margin: 0;padding: 0;box-sizing: border-box;list-style: none;outline: none;text-decoration: none;}
html{font-size: 62.5%;height: 100%;}
body{font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;font-size: 1.6rem;height: 100%;}
.container{max-width: 928px;margin: 0 auto;padding: 0 20px;position: relative;height: 100%;}
.logo {text-align: center;margin-bottom: 20px}
.logo a{font-size: 0;background: url(../images/logo.png) center no-repeat;background-size: cover;height: 50px;width: 50px;display: inline-block;}
.inout,.display-all{width: 100%}
.inout{text-align: center;}
#pokeVal{height: 30px;width: 200px;outline: none;border-radius: 5px;box-shadow: chartreuse;padding: 5px;padding-left: 10px;}
#dspPoke,#back,#pokeofday,#clear{background-color: #000;border-radius: 5px;color: #fff;height: 30px;cursor: pointer;padding: 5px 10px;}
.display-all{position: relative;}
.fixed-wrap{position: absolute;left: 0;top: 0;z-index: 1}
#allListings,.main,.display-all{display: flex;justify-content: space-between;flex-wrap: wrap;width: 100%}
#allListings a{display: inline-block;}
#allListings li{width: 24%;margin-top: 20px;}
#allListings h3{font-size: 1.8rem;line-height: 1.2;color: rgb(47, 46, 46);text-align: center;text-transform: uppercase;}
img{width: 100%;height: auto;}
.input-fields{margin-bottom: 20px}
.advice{margin-bottom: 20px;font-size: 2rem;min-height: 54px;text-transform: capitalize;}
#details{display: flex;justify-content: space-around;flex-wrap: wrap;padding-bottom: 50px;text-transform: capitalize;}
#details .img-wrap{width: 100%;overflow: hidden;}
#details h3{font-size: 3rem;line-height: 1.5;text-transform: uppercase;width: 100%;text-align: center;}
.pability,.pheight,.pType,.pmove{margin-top: 20px;}
#back{display: inline-block;visibility: hidden;}
.overlay{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: #000;display: none;z-index: 10}
.overlay p{font-size: 2rem;color: rgb(175, 175, 41);text-align: center;padding-top: 10%;}
.pokedata{max-height: 400px;max-width: 400px;background-color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);opacity: 1;border-radius: 50%}
.darkmode-toggle{z-index: 10}
.darkmode--activated .advice,.darkmode--activated #allListings h3,.darkmode--activated #details{color: #fff}
.fixed-pointer{width: 100px;position: fixed;right: 0;bottom: 65px;text-align: center;z-index: 10}
.pokedata img{
  animation: pulse 1.5s infinite ease-in-out alternate;
}
@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}
.detail-wrap{display: flex;flex-wrap: wrap;justify-content: space-evenly;width: 100%}
#details h4{font-size: 2rem;margin-bottom: 10px}
#details p{margin-bottom: 5px}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 599px){
	html{font-size: 50%}
	.input-fields{display: flex;flex-wrap: wrap;justify-content: space-between;}
	#pokeVal{width: 100%;margin: 0 50px 20px}
	#dspPoke, #back, #pokeofday, #clear{width: 30%}
    .inout,.display-all,#allListings li{width: 100%;}
    #allListings li{width: 45%}
    .fixed-pointer{background-color: #000;color: #fff;width: 35px}

    .fill{fill: #fff}
    .darkmode-toggle,.darkmode-layer--button{right: 5px !important}
}